# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache and temp folders
.vs/
*/.vscode/

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Database and local data files
*.db
*.mdf
*.ldf

# Others
*.cache
*.tmp
*.bak
*.exe
*.dll
*.pdb

# JetBrains Rider
.idea/

# Publish output
publish/

#Kiram Dahanet Amir ba Goog kardanet
Ekip.Application/bin/
Ekip.Application/obj/

Ekip.Domain/bin/
Ekip.Domain/obj/

Ekip.Infrastructure/bin/
Ekip.Infrastructure/obj/

Ekip.WebApi/bin/
Ekip.WebApi/obj/

Ekip.Application/bin/
Ekip.Application/obj/

EkipProject/
/.vs/EkipProject/v17/.suo
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.AssemblyInfo.cs
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.AssemblyInfoInputs.cache
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.assets.cache
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.GeneratedMSBuildEditorConfig.editorconfig
