# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache and temp folders
.vs/
.vscode/

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Database and local data files
*.db
*.mdf
*.ldf

# Others
*.cache
*.tmp
*.bak
*.exe
*.dll
*.pdb

# JetBrains Rider
.idea/

# Publish output
publish/

# Project-specific folders (optional if covered by above)
EkipProject/
/Ekip.WebApi/obj/Debug/net8.0/Ekip.WebApi.assets.cache
/Ekip.WebApi/obj/Debug/net8.0/Ekip.WebApi.AssemblyInfoInputs.cache
/Ekip.WebApi/obj/Debug/net8.0/Ekip.WebApi.GeneratedMSBuildEditorConfig.editorconfig
/Ekip.WebApi/obj/Debug/net8.0/Ekip.WebApi.AssemblyInfo.cs
/Ekip.Infrastructure/obj/Debug/net8.0/Ekip.Infrastructure.AssemblyInfo.cs
/Ekip.Infrastructure/obj/Debug/net8.0/Ekip.Infrastructure.AssemblyInfoInputs.cache
/Ekip.Infrastructure/obj/Debug/net8.0/Ekip.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Ekip.Infrastructure/obj/Debug/net8.0/Ekip.Infrastructure.assets.cache
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.AssemblyInfoInputs.cache
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.AssemblyInfo.cs
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.assets.cache
/Ekip.Domain/obj/Debug/net8.0/Ekip.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Ekip.Application/obj/Debug/net8.0/Ekip.Application.AssemblyInfo.cs
/Ekip.Application/obj/Debug/net8.0/Ekip.Application.AssemblyInfoInputs.cache
/Ekip.Application/obj/Debug/net8.0/Ekip.Application.assets.cache
/Ekip.Application/obj/Debug/net8.0/Ekip.Application.csproj.AssemblyReference.cache
/Ekip.Application/obj/Debug/net8.0/Ekip.Application.GeneratedMSBuildEditorConfig.editorconfig
